@import url(./reset.less);
@tailwind base;
@tailwind components;
@tailwind utilities;
.App{
    height: 100%;
}

:root{
    --primaryColor : #333;
    --blue : #00c2f7;
    --sceondColor : #fff;
    --thirdColor : #FFA500;
    --fourthColor:#FFD700;
    --grayColor: #808080;
    --black:#000;
    --white:#fff;
}
html,body{
    width: 100%;
    height: 100%;
    background: linear-gradient(
    180deg,
    rgba(219, 234, 254, 1) 0%,
    rgba(237, 233, 254, 1) 25%,
    rgba(219, 234, 254, 1) 60%
    );
}
*::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    // height: 10px; // 高度写不写，都不影响，因为会根据内容的长度自动计算
}

*::-webkit-scrollbar-thumb {
    background: #ccc; // 滑块颜色
    border-radius: 5px; // 滑块圆角
}

// admin menu的border
:where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light.ant-menu-root.ant-menu-inline{
    border-inline-end:none
}