@import url(./reset.less);
@tailwind base;
@tailwind components;
@tailwind utilities;
.App{
    height: 100%;
}
:root{
    --primaryColor : #333;
    --blue : #00c2f7;
    --sceondColor : #fff;
    --thirdColor : #FFA500;
    --fourthColor:#FFD700;
    --grayColor: #808080;
    --black:#000;
    --white:#fff;
}
// admin menu的border
:where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light.ant-menu-root.ant-menu-inline{
    border-inline-end:none
}